.social {
    height: 300px;
    .socialBox {
        .socialTitle {
            margin-bottom: 23px;
            font-weight: 400;
            font-size: 36px;
            line-height: 73px;
            text-align: center;
            text-transform: capitalize;
            font-family: "Vermin Vibes V";
        }
        .socialIcon {
            display: flex;
            width: 650px;
            button {
                margin: auto;
            }
            .socialItem {
                width: 57px;
                height: 57px;
                padding: 11px 9px;
                display: grid;
                align-items: center;
                justify-content: center;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .social {
        .socialBox {
            .socialTitle {
                font-size: 25px;
                line-height: 40px;
            }
            .socialIcon {
                display: grid;
                width: 100%;
                gap: 10px;
                grid-template-columns: auto auto auto auto;
                justify-content: center;
            }
        }
    }
}
@media (max-width: 700px) {
    .social {
        height: 200px;
        .socialBox .socialIcon .socialItem {
            width: 40px;
            height: 40px;
        }
    }
}